<html>
  <head>
    <!-- Encabezado de la página, si es necesario creo no se  -->
  </head>
  <body>
    <main>
      <h1>Ingenieria en sistemas Gerencial </h1>
      <p>Contenido de la Página 2.</p>
      <p>La Ingeniería en Sistemas de Información Gerencial (SIG) en la Universidad Tecnológica de Panamá (UTP) es...</p>
      <!-- Otro contenido según creo que den las necesidades -->
    </main>
  </body>
</html>
